<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>644822059368-6kcorbne2mr1ps1b8so601s2qvo3po44.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.644822059368-6kcorbne2mr1ps1b8so601s2qvo3po44</string>
	<key>API_KEY</key>
	<string>AIzaSyAvpVX7T4vc_XPaUneZIzp5yt_wZSgcLiA</string>
	<key>GCM_SENDER_ID</key>
	<string>644822059368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nimbarkstreaming.mobile</string>
	<key>PROJECT_ID</key>
	<string>nimbark-streaming</string>
	<key>STORAGE_BUCKET</key>
	<string>nimbark-streaming.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:644822059368:ios:4a0038d94ef07382ec6edd</string>
</dict>
</plist>