node_modules
dist
build
.dart_tool
.flutter-plugins
.flutter-plugins-dependencies
.packages
coverage
.env
*.env_local
*.env_live
apps/admin/.env_local
apps/admin/.env_live
apps/backend/.env_local
apps/backend/.env_live
.DS_Store
*.log
serviceAccountKey.json
*service-account*.json
firebase-service-account*.json
*firebase-adminsdk*.json
